{% extends 'baseback.html.twig' %}

{% block title %}New Organisation{% endblock %}

{% block content %}

<style> 
.btn-back {
    display: inline-block;
    padding: 8px 16px;
    background-color: #6A0DAD; /* Purple color */
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-back:hover {
    background-color: #4E0A73; /* Darker purple color on hover */
}
</style>


<center>
    <h1>Create new Organisation</h1>
<br><br>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.nom) }}
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                    {% if form_errors(form.nom) %}
                        <div class="alert alert-danger mt-2">
                            {{ form_errors(form.nom) }}
                        </div>
                    {% endif %}
                </div>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                    {% if form_errors(form.adresse) %}
                        <div class="alert alert-danger mt-2">
                            {{ form_errors(form.adresse) }}
                        </div>
                    {% endif %}
                </div>


{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {% if form_errors(form.email) %}
                        <div class="alert alert-danger mt-2">
                            {{ form_errors(form.email) }}
                        </div>
                    {% endif %}
                </div>


{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group">
                    {{ form_label(form.num_tel) }}
                    {{ form_widget(form.num_tel, {'attr': {'class': 'form-control'}}) }}
                    {% if form_errors(form.num_tel) %}
                        <div class="alert alert-danger mt-2">
                            {{ form_errors(form.num_tel) }}
                        </div>
                    {% endif %}
                </div>

    {{ include('organisation/_form.html.twig') }}
<br>
   <center> <a href="{{ path('app_organisation_index') }}" class="btn-back">Back to list</a> </center>
   
   <br>
   </center>
{% endblock %}
